@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4839a3;
  --color-primary-light: #6c5ae0;
  --color-secondary: #f2bf4e;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  @apply text-sm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Darker Grotesque', sans-serif;
  @apply font-bold;
}
