@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4839a3;
  --color-primary-light: #6c5ae0;
  --color-secondary: #f2bf4e;
}
body {
  @apply font-sans text-base-sm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-darker-grotesque;
}
