name: All Tests
on:
  pull_request:
    branches: ['main']
  push:
    branches: ['main']
  deployment_status:
  workflow_dispatch:

jobs:
  test_setup:
    name: Test setup
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      checks: read
      contents: read
      deployments: read
    outputs:
      preview_url: ${{ steps.waitForVercelPreviewDeployment.outputs.url }}
    steps:
      - name: Wait for Vercel preview deployment to be ready
        uses: patrickedqvist/wait-for-vercel-preview@v1.2.0
        id: waitForVercelPreviewDeployment
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          max_timeout: 6000
  test:
    needs: test_setup
    if: github.event_name == 'deployment_status' && github.event.deployment_status.state == 'success'
    name: Test Run
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      checks: read
      contents: read
      deployments: read
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Install Playwright
        run: bun playwright install --with-deps

      - name: Run tests
        run: bun run test && bun test-e2e
        env:
          BASE_URL: ${{ steps.waitForVercelPreviewDeployment.outputs.url }}
          PLAYWRIGHT_TEST_BASE_URL: ${{ steps.waitForVercelPreviewDeployment.outputs.url }}
        continue-on-error: true

      - name: Update Coverage Badge
        # GitHub actions: default branch variable
        # https://stackoverflow.com/questions/64781462/github-actions-default-branch-variable
        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
        uses: we-cli/coverage-badge-action@main
