name: Test
on:
  pull_request:
    branches: ['main']
  push:
    branches: ['main']
  deployment_status:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_setup:
    name: Test setup
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      pull-requests: write
      checks: read
      contents: read
    steps:
      - name: Capture Vercel preview URL
        id: vercel_preview_url
        uses: aaron-binary/vercel-preview-url-action@v0.0.3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  test:
    needs: test_setup
    name: Test Run
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      checks: read
      contents: read
      deployments: read
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: npm ci && npx playwright install --with-deps

      - name: Run tests
        run: npx playwright test
        env:
          BASE_URL: ${{ steps.vercel_preview_url.outputs.vercel_preview_url }}
        continue-on-error: true

      - name: Update Coverage Badge
        # GitHub actions: default branch variable
        # https://stackoverflow.com/questions/64781462/github-actions-default-branch-variable
        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
        uses: we-cli/coverage-badge-action@main
