name: Test
on:
  pull_request:
    branches: ['main']
  push:
    branches: ['main']
  deployment_status:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_setup:
    name: Test setup
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
    outputs:
      preview_url: ${{ steps.waitForVercelPreviewDeployment.outputs.url }}
    timeout-minutes: 15
    steps:
      - name: Sleep
        run: sleep 60

      - name: Wait for Vercel preview deployment to be ready
        uses: patrickedqvist/wait-for-vercel-preview@v1.3.1
        id: waitForVercelPreviewDeployment
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          max_timeout: 3500
          check_interval: 5
  test:
    needs: test_setup
    name: Test Run
    if: github.event.deployment_status.state == 'success'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      checks: read
      contents: read
      deployments: read
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: npm ci && npx playwright install --with-deps

      - name: Run tests
        run: npx playwright test
        env:
          BASE_URL: ${{ steps.waitForVercelPreviewDeployment.outputs.url }}
        continue-on-error: true

      - name: Update Coverage Badge
        # GitHub actions: default branch variable
        # https://stackoverflow.com/questions/64781462/github-actions-default-branch-variable
        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
        uses: we-cli/coverage-badge-action@main
